doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Habitica Magic Wand
    style: include ../node_modules/keen-ui/dist/keen-ui.min.css
    
  body
    #app
    script(src="app.min.js")

  style.
    *, *::before, *::after { box-sizing: border-box; }
    html { font-size: 100%; }
