doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Habitica Magic Wand
    style: include ../node_modules/keen-ui/dist/keen-ui.min.css
  
  body
    #popup
      script(src="popup.min.js")
  
  style: include theme.css
